
<%= image_tag "ford-quote.png", class: "responsive-img", style: "width: 100%;height: auto;margin-top: -22px;" %>
  <div class="container">
    <div class="row" style="margin-top: 50px;margin-bottom: 50px;">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons" style="font-size: 5rem">flash_on</i></h2>
              <h5 class="center">Dignité</h5>

              <p class="light text-justify">Syrians & Friends Paris s'attache à la dignité des réfugiés entrepreneurs. Les réfugiés ont quitté une vie dans laquelle ils travaillaient, où ils étaient étudiants, chef d'entreprise ou architecte. Nous voulons quitter le système humanitaire classique qui met le réfugié en position d'infériorité devant le donateur et l'inclure au cœur de l'action.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons" style="font-size: 5rem">repeat</i></h2>
              <h5 class="center">Actions</h5>

              <p class="light text-justify">Sunbeam4Refugees permettra à chaque contributeur de financer une micro-entreprise lancée par un réfugié qui pourra proposer ses services aux personnes qui auront contribué à son projet. SunBeam4Refugees est et restera à taille humaine afin de privilégier une proximité avec les personnes soutenues dans leur projet de micro-entreprise.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons" style="font-size: 5rem">settings</i></h2>
              <h5 class="center">Innovation</h5>

              <p class="light text-justify">SunBeam4Refugees veut encourager et financer les projets innovants des réfugiés syriens en France. SunBeam4Refugees contribue à l'innovation à la portée de tous. L'innovation se définit comme un tremplin pour leur indépendance et leur intégration économique et sociale dans le pays d'accueil.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="background-color: #9e9e9e;margin-bottom:0px;">
    <div class="col m12 s12 center">
      <h3 style="color: white;">L'équipe</h3>
    </div>
    <div class="container">
      <div class="col l3 s12 center">
        <figure width="250px">
          <%= image_tag "profile.png", class: "responsive-img", style: "border-radius: 50%; position: relative;z-index: 1 ;" %>
          <figcaption style=" bottom: 115px;color: white;"><h6 style="font-size: 0.9rem;font-weight: bold;">Nom Prénom</h6><p style="font-size: 0.85rem;">Poste dans l'entreprise</p></figcaption>
        </figure>
      </div>
      <div class="col l3 s12 center">
        <figure width="250px">
          <%= image_tag "profile.png", class: "responsive-img", style: "border-radius: 50%; position: relative;z-index: 1 ;" %>
          <figcaption style=" bottom: 115px;color: white;"><h6 style="font-size: 0.9rem;font-weight: bold;">Nom Prénom</h6><p style="font-size: 0.85rem;">Poste dans l'entreprise</p></figcaption>
        </figure>
      </div>
      <div class="col l3 s12 center">
        <figure width="250px">
          <%= image_tag "profile.png", class: "responsive-img", style: "border-radius: 50%; position: relative;z-index: 1 ;" %>
          <figcaption style=" bottom: 115px;color: white;"><h6 style="font-size: 0.9rem;font-weight: bold;">Nom Prénom</h6><p style="font-size: 0.85rem;">Poste dans l'entreprise</p></figcaption>
        </figure>
      </div>
      <div class="col l3 s12 center">
        <figure width="250px">
          <%= image_tag "profile.png", class: "responsive-img", style: "border-radius: 50%; position: relative;z-index: 1 ;" %>
          <figcaption style=" bottom: 115px;color: white;"><h6 style="font-size: 0.9rem;font-weight: bold;">Nom Prénom</h6><p style="font-size: 0.85rem;">Poste dans l'entreprise</p></figcaption>
        </figure>
      </div>
    </div>
    <div class="container" id="equip">
      <div class="col l3 s12 center">
        <figure width="250px">
          <%= image_tag "profile.png", class: "responsive-img", style: "border-radius: 50%; position: relative;z-index: 1 ;" %>
          <figcaption style="bottom: 115px;color: white;"><h6 style="font-size: 0.9rem;font-weight: bold;">Nom Prénom</h6><p style="font-size: 0.85rem;">Poste dans l'entreprise</p></figcaption>
        </figure>
      </div>
      <div class="col l3 s12 center">
        <figure width="250px">
          <%= image_tag "profile.png", class: "responsive-img", style: "border-radius: 50%; position: relative;z-index: 1 ;" %>
          <figcaption style=" bottom: 115px;color: white;"><h6 style="font-size: 0.9rem;font-weight: bold;">Nom Prénom</h6><p style="font-size: 0.85rem;">Poste dans l'entreprise</p></figcaption>
        </figure>
      </div>
      <div class="col l3 s12 center">
        <figure width="250px">
          <%= image_tag "profile.png", class: "responsive-img", style: "border-radius: 50%; position: relative;z-index: 1 ;" %>
          <figcaption style="color: white;"><h6 style="font-size: 0.9rem;font-weight: bold;">Nom Prénom</h6><p style="font-size: 0.85rem;">Poste dans l'entreprise</p></figcaption>
        </figure>
      </div>
    </div>
  </div>

  <style>
    #equip{
      margin-left: 23.5%;
    }
    @media (max-width: 995px){
      #equip{
        margin-left: 18%;
      }
    }
    @media (max-width: 600px){
      #equip{
        margin-left: 5%;
      }
    }
  </style>