<div class="container">
  <div class="row">
    <div class="row center-align">
      <h1>Découvrez les projets</h1>
    </div>

    <% @projects.each do |project| %>
      <div class="col s12 m4">
        <div class="card medium hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag project.picture.url(:medium) %>
            <span class="card-title"><%= project.title.first(20) %>...</span>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= project.current_budget %>€ collectés
            <i class="material-icons right">more_vert</i></span>
            <div class="progress custom-progress">
                <div class="determinate" style="width: 70%"></div>
            </div>
            <div class="card-action">
              <div class="chip">
                <%= image_tag project.refugee.picture.url(:thumb) %>
                <%= project.refugee.first_name %>
              </div>
              <div class="right">
                <%= link_to project_path(project), class: "waves-effect waves-light btn small-font-button" do %>
                  <i class="material-icons right">input</i>Voir
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= project.title %><i class="material-icons right">close</i></span>
            <p><%= project.description %></p>
            <p><a href="#">
              <%= link_to project_path(project), class: "waves-effect waves-light btn small-font-button" do %>
                <i class="material-icons right">input</i>Voir
              <% end %>
            </a></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row center">
    <% if refugee_signed_in? %>
      <%= link_to new_project_path, class: "waves-effect waves-light btn" do %>
        <i class="material-icons right">input</i>Proposer un nouveau projet
      <% end %>
    <% end %>
  </div>

  <%= link_to "Se connecter - Refugee",  new_refugee_session_path %>
  <br>
  <%= link_to "Se déconnecter - Refugee",  destroy_refugee_session_path, method: :delete %>
  <br>
  <%= link_to "Se connecter - User",  new_user_session_path %>
  <br>
  <%= link_to "Se déconnecter - User",  destroy_user_session_path, method: :delete %>
</div>

