<div class="container">
  <div class="row">
    <h1>Projet n°<%= @project.id %></h1>

    <h2><%= @project.title %></h2>

    <p><%= @project.description %></p>

    <p>Budget : <%= @project.total_budget %>€</p>

    <p><%= image_tag @project.picture.url(:medium) %></p>
  </div>
</div>